:root{
  --font: 'Poppins', sans-serif;
  --main-color1: hsl(0, 100%, 74%);
  --main-color2: hsl(154, 59%, 51%);
  --accent-color1: hsl(248, 32%, 49%); 
  --neutral-color1:  hsl(249, 10%, 26%) ; 
  --neutral-color2: hsl(246, 25%, 77%); 
  --light-color1: #fff;
  --mobile-width: 375px; 
  --desktop-width: 1440px;
  --body-font-size: 16px; 
  --title-font-size: 32px; 
  --sm-font-size: 12px; 
} 

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: var(--font);
  font-size: var(--body-font-size);
  color: var(--light-color1);
}

.component {
  max-width: var(--mobile-width);
  background-image: url(./images/bg-intro-mobile.png);
  background-color: var(--main-color1);
}

.component-title, .component-paragraph {
  text-align: center;
}

.component-title {
  margin-top: 20%;
  padding: 0 3rem;
  font-size: var(--title-font-size);
}

.component-paragraph{
  margin-top: 5%;
  padding: 0 2rem;
  font-weight: 500;
}

.purple-square {
  background-color: var(--accent-color1);
  width: 90%;
  margin: 3rem auto;
  padding: 1rem 4.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 0px  hsla(249, 10%, 26%,0.29);
  -webkit-box-shadow: 0 8px 0px  hsla(249, 10%, 26%,0.29);
  -moz-box-shadow: 0 8px 0px  hsla(249, 10%, 26%,0.29);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
